<!DOCTYPE html>
<html lang="<%= language || 'en' %>">
<head>
    <%- include('../partials/head', {title: title, extraCSS: extraCSS}) %>
</head>
<body>
    <%- content %>
    <%- include('../partials/scripts', {extraJS: extraJS}) %>
</body>
</html>